.Input--wrapper {
  position: relative;
  padding: 3px;
  background-color: var(--color-text);
}

.Input--wrapper:focus-within {
  background-color: rgb(26, 124, 236);
}

.Input--wrapper > :not(input) {
  opacity: 0.9;
}

.Input--wrapper > input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  background: transparent;
  color: transparent;
}

.Input > button {
  margin-top: 10px;
}
