.Cell {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.5em;
  height: 1.5em;
  margin: 2px;
  background-color: white;
  font-size: 2em;
  text-transform: uppercase;
  color: #333;
  font-family: var(--font-display);
}

.Cell--correct {
  background-color: var(--color-correct);
}

.Cell--misplaced {
  display: flex;
  padding: 5px;
}

.Cell--misplaced > div {
  border-radius: 100%;
  background-color: var(--color-misplaced);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
