.App {
  padding: 10px;
  text-align: center;
}

.App--title {
  margin-top: 20px;
  margin-bottom: 40px;
}

.App--language {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App--language > span {
  margin-right: 0.8em;
}

.App--language > select {
  border: none;
  padding: 0.3em 0.5em;
  border-radius: 0.3em;
  background-color: rgba(0, 0, 0, 0.15);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.App--version {
  margin-top: 40px;
  font-size: 0.6em;
  opacity: 0.6;
}
