*,
*::before,
*::after {
  -webkit-font-smoothing: none;
  font-smooth: never;
  box-sizing: border-box;
}

html,
body,
button,
input,
select,
textarea {
  font-family: var(--font-text);
}

button,
input,
select,
textarea {
  font-size: inherit;
  font-weight: inherit;
  letter-spacing: inherit;
  color: inherit;
}

html,
body,
#root {
  min-height: 100vh;
  background-color: var(--color-background);
  color: var(--color-text);
  font-size: var(--size-text);
  font-weight: 400;
}

html {
  user-select: none;
}

button {
  border: 1px dotted var(--color-border);
  background: transparent;
  padding: 0.55em 0.9em 0.45em;
  border-radius: 4px;
  cursor: pointer;
  text-transform: uppercase;
}

button:hover {
  border-color: transparent;
  background: var(--color-border);
  color: var(--color-background);
}
