*,
*::before,
*::after {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

html,
body,
button,
input,
select,
textarea {
  font-family: var(--font);
}

html,
body,
#root {
  min-height: 100vh;
  background-color: var(--color-background);
  color: var(--color-text);
}

html {
  user-select: none;
}
